In [1]:
# I am going to do a DBSCAN as opposed to a k-means because I am interested in my outliers
# and DBSCAN is less sensitive to that
# However this could be wrong because maybe I DO want a model that is not sensitive

In [2]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import DBSCAN, KMeans
from sklearn.metrics import silhouette_score

In [3]:
df = pd.read_csv('datasets/ULTIMATE.csv')

In [4]:
df_numeric = df.drop(columns=['player_name', 'team', 'height', 'country',
                             'draft_number_group'])

In [5]:
ss = StandardScaler()
df_scaled = ss.fit_transform(df_numeric)

In [6]:
dbscan = DBSCAN(eps=3, min_samples=7)
dbscan.fit(df_scaled)

DBSCAN(algorithm='auto', eps=3, leaf_size=30, metric='euclidean',
       metric_params=None, min_samples=7, n_jobs=None, p=None)

In [7]:
set(dbscan.labels_)

{-1, 0, 1, 2, 3}

In [8]:
silhouette_score(df_scaled, dbscan.labels_)

0.15137605037598537

In [9]:
df['cluster'] = dbscan.labels_

In [10]:
df[df['cluster'] == 0]

,player_id,player_name,team,height,weight,seasons,points,games,games_started,minutes_played,...,20_21_salary,avg_pnts_per_game,pct_of_games_started,heights_inches,draft_1st_pick,draft_2nd_pick,draft_undrafted,draft_number_group,draft_nmbr_grp_rank,cluster
0,1626147,Justin Anderson,BKN,6-6,230.0,4,1157,219,23,2874.0,...,0,5.283105,0.105023,78,1,0,0,21-30,3,0
2,1627733,Dragan Bender,MIL,7-1,249.0,3,933,178,64,3560.0,...,0,5.241573,0.359551,85,1,0,0,1-10,1,0
4,203504,Trey Burke,PHI,6-0,185.0,6,4071,386,128,8857.0,...,0,10.546632,0.331606,72,1,0,0,1-10,1,0
6,1627740,Henry Ellenson,BKN,6-10,240.0,3,327,81,2,749.0,...,0,4.037037,0.024691,82,1,0,0,11-20,2,0
18,1628383,Justin Patton,OKC,6-11,241.0,2,16,9,0,49.0,...,0,1.777778,0.000000,83,1,0,0,11-20,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
456,1626159,Justise Winslow,MIA,6-6,222.0,4,2181,241,105,6850.0,...,13000000,9.049793,0.435685,78,1,0,0,1-10,1,0
458,1626153,Delon Wright,DAL,6-5,185.0,4,1846,251,22,4923.0,...,9000000,7.354582,0.087649,77,1,0,0,11-20,2,0
460,1629027,Trae Young,ATL,6-1,180.0,1,3032,131,131,4264.0,...,6571800,23.145038,1.000000,73,1,0,0,1-10,1,0
461,203469,Cody Zeller,CHA,7-0,240.0,6,3517,411,244,9427.0,...,15415730,8.557178,0.593674,84,1,0,0,1-10,1,0
462,1627790,Ante Zizic,CLE,6-10,266.0,2,647,107,27,1455.0,...,0,6.046729,0.252336,82,1,0,0,21-30,3,0

In [11]:
df.columns

Index(['player_id', 'player_name', 'team', 'height', 'weight', 'seasons',
       'points', 'games', 'games_started', 'minutes_played',
       'field_goals_made', '3_pntrs_made', 'field_goals_pct_made',
       '3_pntrs_pct_made', 'ft_pct', 'field_goals_assisted', '3_pntrs_assists',
       'rebounds', 'assists_to_turnovers', 'offensive_rebounds',
       'defensive_rebounds', 'steals', 'blocks', 'turnovers', 'personal_fouls',
       'start_year', 'country', '19_20_salary', '20_21_salary',
       'avg_pnts_per_game', 'pct_of_games_started', 'heights_inches',
       'draft_1st_pick', 'draft_2nd_pick', 'draft_undrafted',
       'draft_number_group', 'draft_nmbr_grp_rank', 'cluster'],
      dtype='object')

In [12]:
df_test_set = df[['player_id', 'weight', 'points', 'seasons', 'games_started', 'minutes_played', 
   'field_goals_pct_made', '3_pntrs_pct_made', 'personal_fouls', '19_20_salary', 
   'avg_pnts_per_game', 'heights_inches']]

In [13]:
ss = StandardScaler()
test_set_transformed = ss.fit_transform(df_test_set)

In [14]:
dbscan = DBSCAN(eps=1, min_samples= 5)
dbscan.fit(test_set_transformed)

DBSCAN(algorithm='auto', eps=1, leaf_size=30, metric='euclidean',
       metric_params=None, min_samples=5, n_jobs=None, p=None)

In [15]:
set(dbscan.labels_)

{-1, 0, 1, 2, 3, 4}

In [16]:
silhouette_score(test_set_transformed, dbscan.labels_)

-0.10084607733655238

In [17]:
df['cluster'] = dbscan.labels_

In [18]:
df['cluster'].value_counts()

-1    288
 0    146
 1     11
 2      9
 4      5
 3      5
Name: cluster, dtype: int64

In [19]:
df.drop(columns='20_21_salary', inplace=True)

In [20]:
df[df['cluster'] == 3]

,player_id,player_name,team,height,weight,seasons,points,games,games_started,minutes_played,...,19_20_salary,avg_pnts_per_game,pct_of_games_started,heights_inches,draft_1st_pick,draft_2nd_pick,draft_undrafted,draft_number_group,draft_nmbr_grp_rank,cluster
90,202710,Jimmy Butler,MIA,6-7,230.0,8,9679,569,464,18810.0,...,32742000,17.010545,0.815466,79,1,0,0,21-30,3,3
197,202699,Tobias Harris,PHI,6-8,226.0,8,9481,601,481,18477.0,...,32742000,15.775374,0.800333,80,1,0,0,11-20,2,3
203,202330,Gordon Hayward,BOS,6-7,225.0,9,9522,625,463,19210.0,...,32700690,15.235200,0.740800,79,1,0,0,1-10,1,3
279,202695,Kawhi Leonard,LAC,6-7,225.0,8,9363,508,481,15722.0,...,32742000,18.431102,0.946850,79,1,0,0,11-20,2,3
314,203114,Khris Middleton,MIL,6-7,222.0,7,8090,502,427,15820.0,...,30603448,16.115538,0.850598,79,0,1,0,31-40,4,3

In [21]:
df[df['cluster'] == 2]

,player_id,player_name,team,height,weight,seasons,points,games,games_started,minutes_played,...,19_20_salary,avg_pnts_per_game,pct_of_games_started,heights_inches,draft_1st_pick,draft_2nd_pick,draft_undrafted,draft_number_group,draft_nmbr_grp_rank,cluster
73,1628396,Tony Bradley,UTA,6-10,248.0,2,206,53,2,485.0,...,1962360,3.886792,0.037736,82,1,0,0,21-30,3,2
151,1629234,Drew Eubanks,SAS,6-9,245.0,1,64,31,0,155.0,...,79568,2.064516,0.000000,81,0,0,1,Undrafted,8,2
167,1629655,Daniel Gafford,CHI,6-10,234.0,0,154,33,4,420.0,...,898310,4.666667,0.121212,82,0,1,0,31-40,4,2
261,1629723,John Konchar,MEM,6-5,210.0,0,7,6,0,34.0,...,79568,1.166667,0.000000,77,0,0,1,Undrafted,8,2
349,1629644,KZ Okpala,MIA,6-8,215.0,0,7,5,0,26.0,...,898310,1.400000,0.000000,80,0,1,0,31-40,4,2
403,1629735,Chris Silva,MIA,6-8,234.0,0,113,37,0,289.0,...,546486,3.054054,0.000000,80,0,0,1,Undrafted,8,2
433,1629020,Jarred Vanderbilt,TOT,6-9,214.0,1,36,28,0,116.0,...,1416852,1.285714,0.000000,81,0,1,0,41-50,5,2
451,1629140,Johnathan Williams,WAS,6-9,228.0,1,192,35,5,507.0,...,161245,5.485714,0.142857,81,0,0,1,Undrafted,8,2
462,1627790,Ante Zizic,CLE,6-10,266.0,2,647,107,27,1455.0,...,2281800,6.046729,0.252336,82,1,0,0,21-30,3,2

In [22]:
df.columns

Index(['player_id', 'player_name', 'team', 'height', 'weight', 'seasons',
       'points', 'games', 'games_started', 'minutes_played',
       'field_goals_made', '3_pntrs_made', 'field_goals_pct_made',
       '3_pntrs_pct_made', 'ft_pct', 'field_goals_assisted', '3_pntrs_assists',
       'rebounds', 'assists_to_turnovers', 'offensive_rebounds',
       'defensive_rebounds', 'steals', 'blocks', 'turnovers', 'personal_fouls',
       'start_year', 'country', '19_20_salary', 'avg_pnts_per_game',
       'pct_of_games_started', 'heights_inches', 'draft_1st_pick',
       'draft_2nd_pick', 'draft_undrafted', 'draft_number_group',
       'draft_nmbr_grp_rank', 'cluster'],
      dtype='object')

In [23]:
df_stats = df[['seasons', 'points', 'games', 'games_started', 'minutes_played',
       'field_goals_made', '3_pntrs_made', 'field_goals_pct_made',
       '3_pntrs_pct_made', 'ft_pct', 'field_goals_assisted', '3_pntrs_assists',
       'rebounds', 'assists_to_turnovers', 'offensive_rebounds',
       'defensive_rebounds', 'steals', 'blocks', 'turnovers', 'personal_fouls',
       '19_20_salary', 'avg_pnts_per_game', 'pct_of_games_started']]

In [24]:
ss = StandardScaler()
df_stats_transformed = ss.fit_transform(df_stats)

In [25]:
dbscan = DBSCAN(eps=1)
dbscan.fit(df_stats_transformed)

DBSCAN(algorithm='auto', eps=1, leaf_size=30, metric='euclidean',
       metric_params=None, min_samples=5, n_jobs=None, p=None)

In [26]:
set(dbscan.labels_)

{-1, 0, 1, 2, 3}

In [27]:
silhouette_score(df_stats_transformed, dbscan.labels_)

0.09241808954967236

In [28]:
df['cluster'] = dbscan.labels_

In [29]:
df['cluster'].value_counts()

-1    280
 0    156
 1     14
 2     10
 3      4
Name: cluster, dtype: int64

In [30]:
df[df['cluster'] == 3]

,player_id,player_name,team,height,weight,seasons,points,games,games_started,minutes_played,...,19_20_salary,avg_pnts_per_game,pct_of_games_started,heights_inches,draft_1st_pick,draft_2nd_pick,draft_undrafted,draft_number_group,draft_nmbr_grp_rank,cluster
5,1629076,Tyler Cook,CLE,6-8,255.0,0,19,11,0,35.0,...,126878,1.727273,0.0,80,0,0,1,Undrafted,8,3
151,1629234,Drew Eubanks,SAS,6-9,245.0,1,64,31,0,155.0,...,79568,2.064516,0.0,81,0,0,1,Undrafted,8,3
261,1629723,John Konchar,MEM,6-5,210.0,0,7,6,0,34.0,...,79568,1.166667,0.0,77,0,0,1,Undrafted,8,3
412,1629622,Max Strus,CHI,6-5,215.0,0,5,2,0,6.0,...,79568,2.500000,0.0,77,0,0,1,Undrafted,8,3

In [31]:
df[df['cluster'] == 1]

,player_id,player_name,team,height,weight,seasons,points,games,games_started,minutes_played,...,19_20_salary,avg_pnts_per_game,pct_of_games_started,heights_inches,draft_1st_pick,draft_2nd_pick,draft_undrafted,draft_number_group,draft_nmbr_grp_rank,cluster
10,1628518,Amile Jefferson,ORL,6-9,222.0,1,42,30,0,143.0,...,1339515,1.400000,0.000000,81,0,0,1,Undrafted,8,1
36,203648,Thanasis Antetokounmpo,MIL,6-6,219.0,1,36,17,1,67.0,...,1445697,2.117647,0.058824,78,0,1,0,51-60,6,1
59,203920,Khem Birch,ORL,6-9,233.0,2,571,130,25,1994.0,...,3000000,4.392308,0.192308,81,0,0,1,Undrafted,8,1
73,1628396,Tony Bradley,UTA,6-10,248.0,2,206,53,2,485.0,...,1962360,3.886792,0.037736,82,1,0,0,21-30,3,1
167,1629655,Daniel Gafford,CHI,6-10,234.0,0,154,33,4,420.0,...,898310,4.666667,0.121212,82,0,1,0,31-40,4,1
213,1629658,Jaylen Hoard,POR,6-8,216.0,0,38,13,0,103.0,...,79568,2.923077,0.000000,80,0,0,1,Undrafted,8,1
349,1629644,KZ Okpala,MIA,6-8,215.0,0,7,5,0,26.0,...,898310,1.400000,0.000000,80,0,1,0,31-40,4,1
357,1628394,Anzejs Pasecniks,WAS,7-2,229.0,0,139,20,0,370.0,...,561711,6.950000,0.000000,86,1,0,0,21-30,3,1
362,203658,Norvel Pelle,PHI,6-10,231.0,0,40,16,0,164.0,...,540367,2.500000,0.000000,82,0,0,1,Undrafted,8,1
403,1629735,Chris Silva,MIA,6-8,234.0,0,113,37,0,289.0,...,546486,3.054054,0.000000,80,0,0,1,Undrafted,8,1
427,1629730,Rayjon Tucker,UTA,6-3,209.0,0,19,12,0,74.0,...,578572,1.583333,0.000000,75,0,0,1,Undrafted,8,1
433,1629020,Jarred Vanderbilt,TOT,6-9,214.0,1,36,28,0,116.0,...,1416852,1.285714,0.000000,81,0,1,0,41-50,5,1
451,1629140,Johnathan Williams,WAS,6-9,228.0,1,192,35,5,507.0,...,161245,5.485714,0.142857,81,0,0,1,Undrafted,8,1
462,1627790,Ante Zizic,CLE,6-10,266.0,2,647,107,27,1455.0,...,2281800,6.046729,0.252336,82,1,0,0,21-30,3,1

In [32]:
df_high_corr = df[['3_pntrs_assists', 'rebounds', 'personal_fouls', 'games',
                  'defensive_rebounds', 'pct_of_games_started', 'assists_to_turnovers',
                  'steals', 'minutes_played', 'turnovers', 'games_started', 
                  'field_goals_assisted', 'field_goals_made', 'avg_pnts_per_game',
                  'points']]

In [33]:
ss = StandardScaler()
df_high_corr_transformed = ss.fit_transform(df_high_corr)
dbscan = DBSCAN(eps=.5, min_samples=5)
dbscan.fit(df_high_corr_transformed)

DBSCAN(algorithm='auto', eps=0.5, leaf_size=30, metric='euclidean',
       metric_params=None, min_samples=5, n_jobs=None, p=None)

In [34]:
set(dbscan.labels_)

{-1, 0, 1, 2}

In [35]:
silhouette_score(df_high_corr_transformed, dbscan.labels_)

0.09461391505147829

In [36]:
df['cluster'] = dbscan.labels_
df['cluster'].value_counts()

-1    257
 0    195
 2      7
 1      5
Name: cluster, dtype: int64

In [37]:
df[df['cluster'] == 2]

,player_id,player_name,team,height,weight,seasons,points,games,games_started,minutes_played,...,19_20_salary,avg_pnts_per_game,pct_of_games_started,heights_inches,draft_1st_pick,draft_2nd_pick,draft_undrafted,draft_number_group,draft_nmbr_grp_rank,cluster
76,1628969,Mikal Bridges,PHX,6-6,209.0,1,1128,137,70,3831.0,...,4161000,8.233577,0.510949,78,1,0,0,1-10,1,2
77,1628970,Miles Bridges,CHA,6-6,225.0,1,1301,134,78,3353.0,...,3755400,9.708955,0.582090,78,1,0,0,11-20,2,2
85,1628973,Jalen Brunson,DAL,6-1,190.0,1,1138,128,53,2594.0,...,1416852,8.890625,0.414062,73,0,1,0,31-40,4,2
265,1629066,Rodions Kurucs,BKN,6-9,228.0,1,687,95,50,1717.0,...,1699236,7.231579,0.526316,81,0,1,0,31-40,4,2
348,1629006,Josh Okogie,MIN,6-4,213.0,1,1010,125,69,3004.0,...,2530680,8.080000,0.552000,76,1,0,0,11-20,2,2
400,1629013,Landry Shamet,LAC,6-4,190.0,1,1106,116,52,2865.0,...,1995120,9.534483,0.448276,76,1,0,0,21-30,3,2
447,1628401,Derrick White,SAS,6-4,190.0,2,1245,136,66,3104.0,...,1948080,9.154412,0.485294,76,1,0,0,21-30,3,2

In [38]:
df_small = df[['3_pntrs_assists', 'rebounds', 'personal_fouls', 'games',
                  'defensive_rebounds', 'assists_to_turnovers',
                  'steals', 'minutes_played', 'turnovers', 'games_started', 
                  'field_goals_assisted', 'field_goals_made',
                  'points']]

In [39]:
ss = StandardScaler()
df_small_transformed = ss.fit_transform(df_small)
dbscan = DBSCAN(eps=.5, min_samples=3)
dbscan.fit(df_small_transformed)

DBSCAN(algorithm='auto', eps=0.5, leaf_size=30, metric='euclidean',
       metric_params=None, min_samples=3, n_jobs=None, p=None)

In [40]:
set(dbscan.labels_)

{-1, 0, 1, 2, 3}

In [41]:
silhouette_score(df_high_corr_transformed, dbscan.labels_)

0.07930842254930169

In [42]:
df['cluster'] = dbscan.labels_
df['cluster'].value_counts()

 0    258
-1    190
 2      9
 1      4
 3      3
Name: cluster, dtype: int64

In [43]:
df[df['cluster'] == 14]

Empty DataFrame
Columns: [player_id, player_name, team, height, weight, seasons, points, games, games_started, minutes_played, field_goals_made, 3_pntrs_made, field_goals_pct_made, 3_pntrs_pct_made, ft_pct, field_goals_assisted, 3_pntrs_assists, rebounds, assists_to_turnovers, offensive_rebounds, defensive_rebounds, steals, blocks, turnovers, personal_fouls, start_year, country, 19_20_salary, avg_pnts_per_game, pct_of_games_started, heights_inches, draft_1st_pick, draft_2nd_pick, draft_undrafted, draft_number_group, draft_nmbr_grp_rank, cluster]
Index: []

[0 rows x 37 columns]

In [44]:
df = pd.read_csv('datasets/ULTIMATE.csv')
df.drop(columns='20_21_salary', inplace=True)
df_numeric = df.drop(columns=['player_name', 'team', 'height', 'country',
                             'draft_number_group', '19_20_salary'])
ss = StandardScaler()
df_scaled = ss.fit_transform(df_numeric)

In [45]:
km = KMeans(n_clusters=21)
km.fit(df_scaled)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
       n_clusters=21, n_init=10, n_jobs=None, precompute_distances='auto',
       random_state=None, tol=0.0001, verbose=0)

In [46]:
# set(km.labels_)

In [47]:
silhouette_score(df_scaled, km.labels_)

0.20270213084632047

In [56]:
df['cluster'] = km.labels_
df.to_csv('datasets/ULTIMATECLUSTERED.csv')
df['cluster'].value_counts()

11    48
14    44
2     42
9     32
4     29
6     27
13    26
15    23
17    22
3     22
10    21
12    20
1     19
8     18
0     17
7     15
18    15
19    10
20     8
5      3
16     3
Name: cluster, dtype: int64

In [49]:
clusters = df.groupby(df['cluster'])['19_20_salary'].mean().sort_values(ascending=False)

In [50]:
clusters.index

Int64Index([7, 18, 3, 1, 16, 12, 5, 15, 20, 4, 13, 0, 9, 14, 10, 17, 6, 2, 11,
            8, 19],
           dtype='int64', name='cluster')

In [51]:
import matplotlib.pyplot as plt
plt.bar(x = clusters.index, height = df.groupby(df['cluster'])['19_20_salary'].mean().sort_values(ascending=False));
plt

In [52]:
df[df['cluster'] == 8]

,player_id,player_name,team,height,weight,seasons,points,games,games_started,minutes_played,...,19_20_salary,avg_pnts_per_game,pct_of_games_started,heights_inches,draft_1st_pick,draft_2nd_pick,draft_undrafted,draft_number_group,draft_nmbr_grp_rank,cluster
12,1629742,Stanton Kidd,UTA,6-6,216.0,0,0,4,0,15.0,...,250000,0.000000,0.0,78,0,0,1,Undrafted,8,8
35,1628961,Kostas Antetokounmpo,LAL,6-10,200.0,1,2,5,0,16.0,...,79568,0.400000,0.0,82,0,1,0,51-60,6,8
67,1629648,Jordan Bone,DET,6-3,180.0,0,6,9,0,48.0,...,79568,0.666667,0.0,75,0,1,0,51-60,6,8
74,1629714,Jarrell Brantley,UTA,6-5,250.0,0,0,3,0,11.0,...,79568,0.000000,0.0,77,0,1,0,41-50,5,8
190,1629657,Kyle Guy,SAC,6-1,167.0,0,2,2,0,4.0,...,79568,1.000000,0.0,73,0,1,0,51-60,6,8
193,1629607,Jared Harper,PHX,5-11,175.0,0,2,3,0,8.0,...,79568,0.666667,0.0,71,0,0,1,Undrafted,8,8
208,1628987,Kevin Hervey,OKC,6-9,230.0,0,0,6,0,13.0,...,79568,0.000000,0.0,81,0,1,0,51-60,6,8
221,1629659,Talen Horton-Tucker,LAL,6-4,234.0,0,0,2,0,5.0,...,898310,0.000000,0.0,76,0,1,0,41-50,5,8
223,1629739,William Howard,HOU,6-8,207.0,0,0,2,0,13.0,...,129568,0.000000,0.0,80,0,0,1,Undrafted,8,8
246,1629640,Keldon Johnson,SAS,6-5,220.0,0,4,4,0,12.0,...,1950600,1.000000,0.0,77,1,0,0,21-30,3,8
271,1629724,Vic Law,ORL,6-7,201.0,0,0,3,0,4.0,...,79568,0.000000,0.0,79,0,0,1,Undrafted,8,8
296,1629725,Jeremiah Martin,BKN,6-2,185.0,0,2,2,0,11.0,...,79568,1.000000,0.0,74,0,0,1,Undrafted,8,8
352,1629671,Miye Oni,UTA,6-5,206.0,0,0,3,0,8.0,...,898310,0.000000,0.0,77,0,1,0,51-60,6,8
374,1629729,Josh Reaves,DAL,6-4,214.0,0,0,2,0,1.0,...,79568,0.000000,0.0,76,0,0,1,Undrafted,8,8
385,1629676,Isaiah Roby,OKC,6-8,230.0,0,0,1,0,2.0,...,1500000,0.000000,0.0,80,0,1,0,41-50,5,8
401,1629621,Marial Shayok,PHI,6-5,198.0,0,3,2,0,10.0,...,79568,1.500000,0.0,77,0,1,0,51-60,6,8
443,1628778,Paul Watson,TOT,6-6,210.0,0,1,4,0,22.0,...,130319,0.250000,0.0,78,0,0,1,Undrafted,8,8
444,1629683,Quinndary Weatherspoon,SAS,6-3,205.0,0,0,1,0,4.0,...,79568,0.000000,0.0,75,0,1,0,41-50,5,8

In [53]:
df.sort_values('19_20_salary', ascending=False)

,player_id,player_name,team,height,weight,seasons,points,games,games_started,minutes_played,...,19_20_salary,avg_pnts_per_game,pct_of_games_started,heights_inches,draft_1st_pick,draft_2nd_pick,draft_undrafted,draft_number_group,draft_nmbr_grp_rank,cluster
125,201939,Stephen Curry,GSW,6-3,185.0,10,16396,698,692,23972.0,...,40231758,23.489971,0.991404,75,1,0,0,1-10,1,7
445,201566,Russell Westbrook,HOU,6-3,200.0,11,20082,866,849,29949.0,...,38506482,23.189376,0.980370,75,1,0,0,1-10,1,7
359,101108,Chris Paul,OKC,6-1,175.0,14,18523,1003,1003,35031.0,...,38506482,18.467597,1.000000,73,1,0,0,1-10,1,7
192,201935,James Harden,HOU,6-5,220.0,10,20427,816,603,27996.0,...,38199000,25.033088,0.738971,77,1,0,0,1-10,1,7
439,202322,John Wall,WAS,6-4,210.0,9,10879,573,561,20544.0,...,38199000,18.986038,0.979058,76,1,0,0,1-10,1,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
436,1629731,Dean Wade,CLE,6-9,228.0,0,16,10,0,54.0,...,79568,1.600000,0.000000,81,0,0,1,Undrafted,8,19
193,1629607,Jared Harper,PHX,5-11,175.0,0,2,3,0,8.0,...,79568,0.666667,0.000000,71,0,0,1,Undrafted,8,8
13,1629133,Daryl Macon,MIA,6-2,185.0,1,32,12,0,104.0,...,79568,2.666667,0.000000,74,0,0,1,Undrafted,8,11
296,1629725,Jeremiah Martin,BKN,6-2,185.0,0,2,2,0,11.0,...,79568,1.000000,0.000000,74,0,0,1,Undrafted,8,8
67,1629648,Jordan Bone,DET,6-3,180.0,0,6,9,0,48.0,...,79568,0.666667,0.000000,75,0,1,0,51-60,6,8

In [54]:
df[df['player_name'] == 'Stephen Curry']

,player_id,player_name,team,height,weight,seasons,points,games,games_started,minutes_played,...,19_20_salary,avg_pnts_per_game,pct_of_games_started,heights_inches,draft_1st_pick,draft_2nd_pick,draft_undrafted,draft_number_group,draft_nmbr_grp_rank,cluster
125,201939,Stephen Curry,GSW,6-3,185.0,10,16396,698,692,23972.0,...,40231758,23.489971,0.991404,75,1,0,0,1-10,1,7