In [192]:
import pandas as pd
df_stats = pd.read_csv('datasets/career_stats.csv')
df_names = pd.read_csv('datasets/player_names.csv')
df_salary = pd.read_csv('datasets/salary.csv')
df_teams = pd.read_csv('datasets/team_info.csv')
df_common = pd.read_csv('datasets/player_common_info.csv')

In [193]:
df_stats.drop(columns=['Unnamed: 0'], inplace=True)

In [194]:
df_teams.drop(columns=['Unnamed: 0'], inplace=True)

In [195]:
df_names.drop(columns=['Unnamed: 0'], inplace=True)

In [196]:
df_stats['player_id'].isin(df_names['player_id']).sum()

519

In [197]:
df_teams.shape

(470, 3)

In [198]:
df = df_stats.merge(df_names, on='player_id')

In [199]:
df = df.merge(df_salary, how = 'inner', on ='player_name')

In [200]:
df.drop(columns=['league_id', 'team_id', 'active'], inplace=True)

In [201]:
df = df.merge(df_teams, how='inner', on='player_id')

In [202]:
df['19_20_salary'] = df['19_20_salary'].str.replace('$','')

In [203]:
df['19_20_salary'] = df['19_20_salary'].str.replace(',','')

In [204]:
df['20_21_salary'] = df['20_21_salary'].str.replace('$','')

In [205]:
df['20_21_salary'] = df['20_21_salary'].str.replace(',','')

In [206]:
df['19_20_salary'] = df['19_20_salary'].astype(int)

In [207]:
df['20_21_salary'].fillna('0', inplace=True)

In [208]:
df['20_21_salary'] = df['20_21_salary'].astype(int)

In [209]:
# duplicates

print(len(df))
len(set(df['player_name']))

482

464

In [210]:
df.drop_duplicates(inplace=True)

In [211]:
df

,player_id,gp,gs,min,fgm,fga,fg_pct,fg3m,fg3a,fg3_pct,...,stl,blk,tov,pf,pts,player_name,19_20_salary,20_21_salary,team_id,team_abbr
0,203500,515,451,13822.0,2087,3550,0.587887,0,9,0.000000,...,452,517,737,1358,5020,Steven Adams,25842697,27528088,1610612760,OKC
1,1628389,205,101,5146.0,788,1403,0.561653,4,33,0.121212,...,170,170,332,471,2061,Bam Adebayo,3454080,5115492,1610612748,MIA
2,200746,1000,959,34425.0,7900,16068,0.491660,180,572,0.314685,...,729,1106,1569,2465,19552,LaMarcus Aldridge,26000000,24000000,1610612759,SAS
6,1629638,41,0,501.0,77,227,0.339207,40,117,0.341880,...,11,7,40,46,211,Nickeil Alexander-Walker,2964840,3113160,1610612740,NOP
7,1628960,68,2,914.0,146,354,0.412429,65,190,0.342105,...,12,7,56,83,432,Grayson Allen,2429400,2545320,1610612763,MEM
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
477,201152,955,681,28986.0,5404,10846,0.498248,467,1414,0.330268,...,1379,384,1379,2089,12566,Thaddeus Young,12900000,13545000,1610612741,CHI
478,1629027,131,131,4264.0,984,2291,0.429506,329,951,0.345951,...,130,20,551,223,3032,Trae Young,6273000,6571800,1610612737,ATL
479,203469,411,244,9427.0,1319,2581,0.511042,27,108,0.250000,...,278,296,441,1090,3517,Cody Zeller,14471910,15415730,1610612766,CHA
480,1627790,107,27,1455.0,260,447,0.581655,0,0,0.000000,...,21,39,77,163,647,Ante Zizic,2281800,0,1610612739,CLE
481,1627826,194,100,3024.0,574,1030,0.557281,0,6,0.000000,...,47,153,172,378,1405,Ivica Zubac,6481482,7000000,1610612746,LAC

In [212]:
df = df.merge(df_common, how = 'inner', on ='player_id')

In [213]:
df.drop(columns=['Unnamed: 0', 'jersey_number', 'team_id', 'school',
                 'to_year'], inplace=True)

In [214]:
df

,player_id,gp,gs,min,fgm,fga,fg_pct,fg3m,fg3a,fg3_pct,...,20_21_salary,team_abbr,county,height,weight,seasons,from_year,draft_year,draft_round,draft_number
0,203500,515,451,13822.0,2087,3550,0.587887,0,9,0.000000,...,27528088,OKC,New Zealand,6-11,265.0,6,2013,2013,1,12
1,1628389,205,101,5146.0,788,1403,0.561653,4,33,0.121212,...,5115492,MIA,USA,6-9,255.0,2,2017,2017,1,14
2,200746,1000,959,34425.0,7900,16068,0.491660,180,572,0.314685,...,24000000,SAS,USA,6-11,250.0,13,2006,2006,1,2
3,1629638,41,0,501.0,77,227,0.339207,40,117,0.341880,...,3113160,NOP,Canada,6-5,205.0,0,2019,2019,1,17
4,1628960,68,2,914.0,146,354,0.412429,65,190,0.342105,...,2545320,MEM,USA,6-4,198.0,1,2018,2018,1,21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
459,201152,955,681,28986.0,5404,10846,0.498248,467,1414,0.330268,...,13545000,CHI,USA,6-8,235.0,12,2007,2007,1,12
460,1629027,131,131,4264.0,984,2291,0.429506,329,951,0.345951,...,6571800,ATL,USA,6-1,180.0,1,2018,2018,1,5
461,203469,411,244,9427.0,1319,2581,0.511042,27,108,0.250000,...,15415730,CHA,USA,7-0,240.0,6,2013,2013,1,4
462,1627790,107,27,1455.0,260,447,0.581655,0,0,0.000000,...,0,CLE,Croatia,6-10,266.0,2,2017,2016,1,23
463,1627826,194,100,3024.0,574,1030,0.557281,0,6,0.000000,...,7000000,LAC,Croatia,7-0,240.0,3,2016,2016,2,32

### Preparing columns and renaming

In [216]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 464 entries, 0 to 463
Data columns (total 32 columns):
player_id       464 non-null int64
gp              464 non-null int64
gs              464 non-null int64
min             464 non-null float64
fgm             464 non-null int64
fga             464 non-null int64
fg_pct          464 non-null float64
fg3m            464 non-null int64
fg3a            464 non-null int64
fg3_pct         464 non-null float64
ft_pct          464 non-null float64
oreb            464 non-null int64
dreb            464 non-null int64
reb             464 non-null int64
ast             464 non-null int64
stl             464 non-null int64
blk             464 non-null int64
tov             464 non-null int64
pf              464 non-null int64
pts             464 non-null int64
player_name     464 non-null object
19_20_salary    464 non-null int64
20_21_salary    464 non-null int64
team_abbr       464 non-null object
county          464 non-null object
height          439 non-null object
weight          439 non-null float64
seasons         464 non-null int64
from_year       464 non-null int64
draft_year      464 non-null object
draft_round     464 non-null object
draft_number    464 non-null object
dtypes: float64(5), int64(20), object(7)
memory usage: 119.6+ KB

In [217]:
df.rename(columns={
    'gp': 'games',
    'gs': 'games_started',
    'min': 'minutes_played',
    'fgm': 'field_goals_made',
    'fga': 'field_goals_assisted',
    'fg_pct': 'field_goals_pct_made',
    'fg3m': '3_pntrs_made',
    'fg3a': '3_pntrs_assists',
    'fg3_pct': '3_pntrs_pct_made',
    'fgt_pct': 'free_throw_pct_made',
    'oreb': 'offensive_rebounds',
    'dreb' : 'defensive_rebounds',
    'reb':'rebounds',
    'ast':'assists_to_turnovers',
    'stl': 'steals',
    'blk':'blocks',
    'tov':'turnovers',
    'pf':'personal_fouls',
    'pts': 'points',
    'team_abbr': 'team',
    'county':'country',
    'from_year':'start_year'
}
          
          
          , inplace=True)

In [218]:
df

,player_id,games,games_started,minutes_played,field_goals_made,field_goals_assisted,field_goals_pct_made,3_pntrs_made,3_pntrs_assists,3_pntrs_pct_made,...,20_21_salary,team,country,height,weight,seasons,start_year,draft_year,draft_round,draft_number
0,203500,515,451,13822.0,2087,3550,0.587887,0,9,0.000000,...,27528088,OKC,New Zealand,6-11,265.0,6,2013,2013,1,12
1,1628389,205,101,5146.0,788,1403,0.561653,4,33,0.121212,...,5115492,MIA,USA,6-9,255.0,2,2017,2017,1,14
2,200746,1000,959,34425.0,7900,16068,0.491660,180,572,0.314685,...,24000000,SAS,USA,6-11,250.0,13,2006,2006,1,2
3,1629638,41,0,501.0,77,227,0.339207,40,117,0.341880,...,3113160,NOP,Canada,6-5,205.0,0,2019,2019,1,17
4,1628960,68,2,914.0,146,354,0.412429,65,190,0.342105,...,2545320,MEM,USA,6-4,198.0,1,2018,2018,1,21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
459,201152,955,681,28986.0,5404,10846,0.498248,467,1414,0.330268,...,13545000,CHI,USA,6-8,235.0,12,2007,2007,1,12
460,1629027,131,131,4264.0,984,2291,0.429506,329,951,0.345951,...,6571800,ATL,USA,6-1,180.0,1,2018,2018,1,5
461,203469,411,244,9427.0,1319,2581,0.511042,27,108,0.250000,...,15415730,CHA,USA,7-0,240.0,6,2013,2013,1,4
462,1627790,107,27,1455.0,260,447,0.581655,0,0,0.000000,...,0,CLE,Croatia,6-10,266.0,2,2017,2016,1,23
463,1627826,194,100,3024.0,574,1030,0.557281,0,6,0.000000,...,7000000,LAC,Croatia,7-0,240.0,3,2016,2016,2,32

In [219]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 464 entries, 0 to 463
Data columns (total 32 columns):
player_id               464 non-null int64
games                   464 non-null int64
games_started           464 non-null int64
minutes_played          464 non-null float64
field_goals_made        464 non-null int64
field_goals_assisted    464 non-null int64
field_goals_pct_made    464 non-null float64
3_pntrs_made            464 non-null int64
3_pntrs_assists         464 non-null int64
3_pntrs_pct_made        464 non-null float64
ft_pct                  464 non-null float64
offensive_rebounds      464 non-null int64
defensive_rebounds      464 non-null int64
rebounds                464 non-null int64
assists_to_turnovers    464 non-null int64
steals                  464 non-null int64
blocks                  464 non-null int64
turnovers               464 non-null int64
personal_fouls          464 non-null int64
points                  464 non-null int64
player_name             464 non-null object
19_20_salary            464 non-null int64
20_21_salary            464 non-null int64
team                    464 non-null object
country                 464 non-null object
height                  439 non-null object
weight                  439 non-null float64
seasons                 464 non-null int64
start_year              464 non-null int64
draft_year              464 non-null object
draft_round             464 non-null object
draft_number            464 non-null object
dtypes: float64(5), int64(20), object(7)
memory usage: 119.6+ KB

In [220]:
df = df[['player_id', 
         'player_name', 
         'team',  
         'height',
       'weight',
         'seasons',
         'points',
         'games', 
         'games_started', 
         'minutes_played',
        'field_goals_made', 
         '3_pntrs_made',
         'field_goals_pct_made',
         '3_pntrs_pct_made',
          'ft_pct',
       'field_goals_assisted',
         '3_pntrs_assists',
         'rebounds',
       'assists_to_turnovers',
        'offensive_rebounds',
         'defensive_rebounds',
         'steals',
         'blocks',
         'turnovers',
       'personal_fouls',
         'draft_year',
       'draft_round',
         'draft_number',
         'start_year',
          'country',
        '19_20_salary',
       '20_21_salary',]]

In [221]:
fill_in_df = df[df['height'].isnull()]

In [222]:
len(df)

464

In [223]:
df = df.dropna()

In [224]:
fill_in_df
manual_height_list = ['6-6', '6-9', '7-1', '6-6', '6-0', '6-8', '6-10', '6-0', '6-8',
                     '6-2', '6-9', '6-3', '6-6', '6-2', '6-1', '6-6', '6-5', '6-9',
                     '6-11', '6-0', '6-1', '6-5', '5-9', '6-3', '6-5']
manual_weight_list = [230.0, 240.0, 249.0, 215.0, 185.0, 255.0, 240, 170.0, 235, 215,
                     222, 186.0, 216.0, 185.0, 160.0, 220.0, 219.0, 230.0, 241.0, 175.0,
                     195.0, 215.0, 185.0, 210.0, 198.0 ]

In [225]:
fill_in_ids = []
for each in fill_in_df:
    fill_in_ids.append(each)

In [226]:
fill_in_df['height'] = manual_height_list
fill_in_df['weight'] = manual_weight_list

In [227]:
dfs = [fill_in_df, df]
df = pd.concat(dfs)

In [228]:
df.sort_values(by='19_20_salary', ascending=False).head(10)

,player_id,player_name,team,height,weight,seasons,points,games,games_started,minutes_played,...,blocks,turnovers,personal_fouls,draft_year,draft_round,draft_number,start_year,country,19_20_salary,20_21_salary
106,201939,Stephen Curry,GSW,6-3,185.0,10,16396,698,692,23972.0,...,156,2178,1731,2009,1,7,2009,USA,40231758,43006362
445,201566,Russell Westbrook,HOU,6-3,200.0,11,20082,866,849,29949.0,...,266,3523,2224,2008,1,4,2008,USA,38506482,41358814
353,101108,Chris Paul,OKC,6-1,175.0,14,18523,1003,1003,35031.0,...,130,2416,2465,2005,1,4,2005,USA,38506482,41358814
177,201935,James Harden,HOU,6-5,220.0,10,20427,816,603,27996.0,...,432,2999,2151,2009,1,3,2009,USA,38199000,41254920
438,202322,John Wall,WAS,6-4,210.0,9,10879,573,561,20544.0,...,396,2191,1289,2010,1,1,2010,USA,38199000,41254920
224,2544,LeBron James,LAL,6-9,250.0,16,33817,1249,1248,48012.0,...,943,4369,2296,2003,1,1,2003,USA,37436858,39219566
128,201142,Kevin Durant,GSW,6-10,240.0,12,22940,849,849,31304.0,...,941,2653,1618,2007,1,2,2007,USA,37199000,39058950
172,201933,Blake Griffin,DET,6-9,250.0,9,13479,622,622,21672.0,...,321,1617,1777,2009,1,1,2009,USA,34449964,36810996
275,200768,Kyle Lowry,TOR,6-0,196.0,13,13199,899,663,28352.0,...,259,2072,2437,2006,1,24,2006,USA,33296296,30500000
156,202331,Paul George,LAC,6-8,220.0,9,12718,637,589,21410.0,...,284,1659,1718,2010,1,10,2010,USA,33005556,35450412

In [229]:
df[df['team'] == 'ATL'].sort_values(by='19_20_salary', ascending=False)

,player_id,player_name,team,height,weight,seasons,points,games,games_started,minutes_played,...,blocks,turnovers,personal_fouls,draft_year,draft_round,draft_number,start_year,country,19_20_salary,20_21_salary
348,202718,Chandler Parsons,ATL,6-9,230.0,8,5571,440,369,13247.0,...,152,657,865,2011,2,38,2011,USA,25102512,0
426,202323,Evan Turner,ATL,6-6,220.0,9,6824,705,295,18939.0,...,184,1267,1380,2010,1,2,2010,USA,18606556,0
210,1629631,De'Andre Hunter,ATL,6-7,225.0,0,647,53,52,1674.0,...,15,85,146,2019,1,4,2019,USA,7068360,7422000
347,203953,Jabari Parker,ATL,6-8,245.0,5,4204,279,190,8179.0,...,111,512,595,2014,1,2,2014,USA,6500000,6500000
460,1629027,Trae Young,ATL,6-1,180.0,1,3032,131,131,4264.0,...,20,551,223,2018,1,5,2018,USA,6273000,6571800
370,1629629,Cam Reddish,ATL,6-8,218.0,0,446,48,31,1247.0,...,22,78,110,2019,1,10,2019,USA,4245720,4458000
266,203458,Alex Len,ATL,7-0,250.0,6,3624,452,180,8945.0,...,446,561,1204,2013,1,5,2013,Ukraine,4160000,0
93,1628381,John Collins,ATL,6-9,235.0,2,2584,165,115,4580.0,...,168,277,524,2017,1,19,2017,USA,2686560,4137302
209,1628989,Kevin Huerter,ATL,6-7,190.0,1,1279,120,96,3413.0,...,46,183,264,2018,1,19,2018,USA,2636280,2761920
77,1713,Vince Carter,ATL,6-6,220.0,21,25688,1530,982,46244.0,...,887,2587,3983,1998,1,5,1998,USA,2564753,0
236,1627745,Damian Jones,ATL,6-11,245.0,3,474,100,49,1433.0,...,70,54,231,2016,1,30,2016,USA,2305057,3457585
140,1628981,Bruno Fernando,ATL,6-9,240.0,0,182,45,11,550.0,...,16,40,87,2019,2,34,2019,Angola,1400000,1517981
160,1629164,Brandon Goodwin,ATL,6-0,180.0,1,196,42,1,412.0,...,4,28,43,Undrafted,Undrafted,Undrafted,2018,USA,602305,1701593
439,1627820,Tyrone Wallace,ATL,6-5,198.0,2,549,106,19,1639.0,...,21,92,185,2016,2,60,2017,USA,494409,0

In [230]:
df.columns

Index(['player_id', 'player_name', 'team', 'height', 'weight', 'seasons',
       'points', 'games', 'games_started', 'minutes_played',
       'field_goals_made', '3_pntrs_made', 'field_goals_pct_made',
       '3_pntrs_pct_made', 'ft_pct', 'field_goals_assisted', '3_pntrs_assists',
       'rebounds', 'assists_to_turnovers', 'offensive_rebounds',
       'defensive_rebounds', 'steals', 'blocks', 'turnovers', 'personal_fouls',
       'draft_year', 'draft_round', 'draft_number', 'start_year', 'country',
       '19_20_salary', '20_21_salary'],
      dtype='object')

In [231]:
df['avg_pnts_per_game'] = df['points'] / df['games']

In [232]:
df['pct_of_games_started'] = df['games_started'] / df['games']

In [233]:
df['height']

8       6-6
10      6-9
34      7-1
57      6-6
67      6-0
       ...
459     6-8
460     6-1
461     7-0
462    6-10
463     7-0
Name: height, Length: 464, dtype: object

In [234]:
heights_inches = []
for each in df['height']:
    feet = pd.to_numeric(each[0])
    inches = pd.to_numeric(each[2:])
    feet_inches = feet * 12
    feet_total = feet_inches + inches
    heights_inches.append(feet_total)

In [235]:
df['heights_inches'] = heights_inches

In [236]:
df

,player_id,player_name,team,height,weight,seasons,points,games,games_started,minutes_played,...,draft_year,draft_round,draft_number,start_year,country,19_20_salary,20_21_salary,avg_pnts_per_game,pct_of_games_started,heights_inches
8,1626147,Justin Anderson,BKN,6-6,230.0,4,1157,219,23,2874.0,...,2015,1,21,2015,USA,98143,0,5.283105,0.105023,78
10,201583,Ryan Anderson,HOU,6-9,240.0,11,8001,649,289,16768.0,...,2008,1,21,2008,USA,5714583,5214583,12.328197,0.445300,81
34,1627733,Dragan Bender,MIL,7-1,249.0,3,933,178,64,3560.0,...,2016,1,4,2016,Croatia,1678854,0,5.241573,0.359551,85
57,1629151,Ryan Broekhoff,DAL,6-6,215.0,1,238,59,1,634.0,...,Undrafted,Undrafted,Undrafted,2018,Australia,1416852,0,4.033898,0.016949,78
67,203504,Trey Burke,PHI,6-0,185.0,6,4071,386,128,8857.0,...,2013,1,9,2013,USA,2028594,0,10.546632,0.331606,72
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
459,201152,Thaddeus Young,CHI,6-8,235.0,12,12566,955,681,28986.0,...,2007,1,12,2007,USA,12900000,13545000,13.158115,0.713089,80
460,1629027,Trae Young,ATL,6-1,180.0,1,3032,131,131,4264.0,...,2018,1,5,2018,USA,6273000,6571800,23.145038,1.000000,73
461,203469,Cody Zeller,CHA,7-0,240.0,6,3517,411,244,9427.0,...,2013,1,4,2013,USA,14471910,15415730,8.557178,0.593674,84
462,1627790,Ante Zizic,CLE,6-10,266.0,2,647,107,27,1455.0,...,2016,1,23,2017,Croatia,2281800,0,6.046729,0.252336,82
463,1627826,Ivica Zubac,LAC,7-0,240.0,3,1405,194,100,3024.0,...,2016,2,32,2016,Croatia,6481482,7000000,7.242268,0.515464,84

In [237]:
df

,player_id,player_name,team,height,weight,seasons,points,games,games_started,minutes_played,...,draft_year,draft_round,draft_number,start_year,country,19_20_salary,20_21_salary,avg_pnts_per_game,pct_of_games_started,heights_inches
8,1626147,Justin Anderson,BKN,6-6,230.0,4,1157,219,23,2874.0,...,2015,1,21,2015,USA,98143,0,5.283105,0.105023,78
10,201583,Ryan Anderson,HOU,6-9,240.0,11,8001,649,289,16768.0,...,2008,1,21,2008,USA,5714583,5214583,12.328197,0.445300,81
34,1627733,Dragan Bender,MIL,7-1,249.0,3,933,178,64,3560.0,...,2016,1,4,2016,Croatia,1678854,0,5.241573,0.359551,85
57,1629151,Ryan Broekhoff,DAL,6-6,215.0,1,238,59,1,634.0,...,Undrafted,Undrafted,Undrafted,2018,Australia,1416852,0,4.033898,0.016949,78
67,203504,Trey Burke,PHI,6-0,185.0,6,4071,386,128,8857.0,...,2013,1,9,2013,USA,2028594,0,10.546632,0.331606,72
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
459,201152,Thaddeus Young,CHI,6-8,235.0,12,12566,955,681,28986.0,...,2007,1,12,2007,USA,12900000,13545000,13.158115,0.713089,80
460,1629027,Trae Young,ATL,6-1,180.0,1,3032,131,131,4264.0,...,2018,1,5,2018,USA,6273000,6571800,23.145038,1.000000,73
461,203469,Cody Zeller,CHA,7-0,240.0,6,3517,411,244,9427.0,...,2013,1,4,2013,USA,14471910,15415730,8.557178,0.593674,84
462,1627790,Ante Zizic,CLE,6-10,266.0,2,647,107,27,1455.0,...,2016,1,23,2017,Croatia,2281800,0,6.046729,0.252336,82
463,1627826,Ivica Zubac,LAC,7-0,240.0,3,1405,194,100,3024.0,...,2016,2,32,2016,Croatia,6481482,7000000,7.242268,0.515464,84

In [238]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 464 entries, 8 to 463
Data columns (total 35 columns):
player_id               464 non-null int64
player_name             464 non-null object
team                    464 non-null object
height                  464 non-null object
weight                  464 non-null float64
seasons                 464 non-null int64
points                  464 non-null int64
games                   464 non-null int64
games_started           464 non-null int64
minutes_played          464 non-null float64
field_goals_made        464 non-null int64
3_pntrs_made            464 non-null int64
field_goals_pct_made    464 non-null float64
3_pntrs_pct_made        464 non-null float64
ft_pct                  464 non-null float64
field_goals_assisted    464 non-null int64
3_pntrs_assists         464 non-null int64
rebounds                464 non-null int64
assists_to_turnovers    464 non-null int64
offensive_rebounds      464 non-null int64
defensive_rebounds      464 non-null int64
steals                  464 non-null int64
blocks                  464 non-null int64
turnovers               464 non-null int64
personal_fouls          464 non-null int64
draft_year              464 non-null object
draft_round             464 non-null object
draft_number            464 non-null object
start_year              464 non-null int64
country                 464 non-null object
19_20_salary            464 non-null int64
20_21_salary            464 non-null int64
avg_pnts_per_game       464 non-null float64
pct_of_games_started    464 non-null float64
heights_inches          464 non-null int64
dtypes: float64(7), int64(21), object(7)
memory usage: 130.5+ KB

In [239]:
df[['player_name', 'draft_year', 'draft_round', 'draft_number']]

         player_name draft_year draft_round draft_number
8    Justin Anderson       2015           1           21
10     Ryan Anderson       2008           1           21
34     Dragan Bender       2016           1            4
57    Ryan Broekhoff  Undrafted   Undrafted    Undrafted
67        Trey Burke       2013           1            9
..               ...        ...         ...          ...
459   Thaddeus Young       2007           1           12
460       Trae Young       2018           1            5
461      Cody Zeller       2013           1            4
462       Ante Zizic       2016           1           23
463      Ivica Zubac       2016           2           32

[464 rows x 4 columns]

In [240]:
draft_round_dummies = pd.get_dummies(df['draft_round'])
df['draft_1st_pick'] = draft_round_dummies['1']
df['draft_2nd_pick'] = draft_round_dummies['2']
df['draft_undrafted'] = draft_round_dummies['Undrafted']

In [241]:
df['draft_number'].value_counts()
draft_group = []
draft_group_rank = []
for each in df['draft_number']:
    if each in ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']:
        draft_group.append('1-10')
        draft_group_rank.append(1)
    elif each in ['11', '12', '13', '14', '15', '16', '17', '18', '19', '20']:
        draft_group.append('11-20')
        draft_group_rank.append(2)
    elif each in ['21', '22', '23', '24', '25', '26', '27', '28', '29', '30']:
        draft_group.append('21-30')
        draft_group_rank.append(3)
    elif each in ['31', '32', '33', '34', '35', '36', '37', '38', '39', '40']:
        draft_group.append('31-40')
        draft_group_rank.append(4)
    elif each in ['41', '42', '43', '44', '45', '46', '47', '48', '49', '50']:
        draft_group.append('41-50')
        draft_group_rank.append(5)
    elif each in ['51', '52', '53', '54', '55', '56', '57', '58', '59', '60']:
        draft_group.append('51-60')
        draft_group_rank.append(6)
    elif each in ['61', '62', '63', '64', '65', '66', '67', '68', '69', '70']:
        draft_group.append('61-70')
        draft_group_rank.append(7)
    elif each == 'Undrafted':
        draft_group.append('Undrafted')
        draft_group_rank.append(8)
df['draft_number_group'] = draft_group
df['draft_nmbr_grp_rank'] = draft_group_rank

In [242]:
df.drop(columns=['draft_round', 'draft_number', 'draft_year'], inplace=True)

In [243]:
df

,player_id,player_name,team,height,weight,seasons,points,games,games_started,minutes_played,...,19_20_salary,20_21_salary,avg_pnts_per_game,pct_of_games_started,heights_inches,draft_1st_pick,draft_2nd_pick,draft_undrafted,draft_number_group,draft_nmbr_grp_rank
8,1626147,Justin Anderson,BKN,6-6,230.0,4,1157,219,23,2874.0,...,98143,0,5.283105,0.105023,78,1,0,0,21-30,3
10,201583,Ryan Anderson,HOU,6-9,240.0,11,8001,649,289,16768.0,...,5714583,5214583,12.328197,0.445300,81,1,0,0,21-30,3
34,1627733,Dragan Bender,MIL,7-1,249.0,3,933,178,64,3560.0,...,1678854,0,5.241573,0.359551,85,1,0,0,1-10,1
57,1629151,Ryan Broekhoff,DAL,6-6,215.0,1,238,59,1,634.0,...,1416852,0,4.033898,0.016949,78,0,0,1,Undrafted,8
67,203504,Trey Burke,PHI,6-0,185.0,6,4071,386,128,8857.0,...,2028594,0,10.546632,0.331606,72,1,0,0,1-10,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
459,201152,Thaddeus Young,CHI,6-8,235.0,12,12566,955,681,28986.0,...,12900000,13545000,13.158115,0.713089,80,1,0,0,11-20,2
460,1629027,Trae Young,ATL,6-1,180.0,1,3032,131,131,4264.0,...,6273000,6571800,23.145038,1.000000,73,1,0,0,1-10,1
461,203469,Cody Zeller,CHA,7-0,240.0,6,3517,411,244,9427.0,...,14471910,15415730,8.557178,0.593674,84,1,0,0,1-10,1
462,1627790,Ante Zizic,CLE,6-10,266.0,2,647,107,27,1455.0,...,2281800,0,6.046729,0.252336,82,1,0,0,21-30,3
463,1627826,Ivica Zubac,LAC,7-0,240.0,3,1405,194,100,3024.0,...,6481482,7000000,7.242268,0.515464,84,0,1,0,31-40,4

In [244]:
df.to_csv('datasets/ULTIMATE.csv', index=False)